<!DOCTYPE html>
<html>
<head>
    <meta charset="charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        {% for style in css %}
            <link rel="stylesheet" href="{{ style }}" media="screen"/>
        {% endfor %}
    {% endblock %}
    <title>My Webpage</title>
</head>
<body>
    <section id="contentWrapper">
        <a href="/">
            <header id="head">
                <h1>This is my header!</h1>
            </header>
        </a>
        <nav id="navigation">
            {% for item in navigation %}
                <li><a href="{{ item.href }}" class="{{ item.class }}">{{ item.caption }}</a></li>
            {% endfor %}
        </nav>
        <h2>{{ heading }}</h2>
        <section>
            {% block content %}
                Content of the page...
            {% endblock %}
        </section>
    </section>
            <script src="http://code.jquery.com/jquery.js"></script>
{% block javascript %}
    {% for js in script %}
        <script src="{{ js }}"></script>
    {% endfor %}
{% endblock %}

</body>
</html>